@(form: Form[URLForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("image service") {

    <h1>Upload images</h1>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.repeat(form("url"), min = 2) { urlField =>
        @helper.inputText(urlField)
      }

      <button>Upload</button>
    }
  }
